body {
    margin: 0px
}

form {
    width: 700px !important;
}

.landingPageImage {
    background-image: url("landing_page_image.jpg");
    min-height: 125vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative !important;
    z-index: 1 !important;
}
.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .articleCopyContainer {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    height: 208px;
    font-size: 16px;
    padding: 16px 32px;
}

.articleCopyContainer {
    min-height: 45px;
    padding: 10px;
    background-color: #fff;
}

.articleTitleCopy {
    font-size: 15px !important;
}
.dateTimeCopy {
    font-size: 14px !important;
    text-align: right
}

.thumbnailContainer {
    height: 163px;
    overflow: hidden;
}

.loaderContainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    opacity: 1;
    will-change: opacity;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 2;
}

.pageContainerLoader {
    margin-left: 45%;
    margin-top: 20%;
    position: absolute;
    z-index: 10000000 !important;
}

.MuiSvgIcon-root {
    font-size: 16px !important;
    margin-bottom: -3px !important;
    color: #39d0ff !important;
}

.MuiFormLabel-root {
    font-size: 18px !important
}

.MuiInputBase-root {
    background-color: #393939 !important;
}

.MuiPaper-rounded {
    background-color: #393939 !important;
}

.MuiInputBase-input {
    background-color: #393939;
    color: #fff !important
}

hr {
    background-color: rgba(233, 233, 233, 0.12) !important
}

.MuiInputLabel-root {
    color: #fff !important
}